<a href="https://colab.research.google.com/github/wassanchez/DS_Wilson/blob/main/Carta_Wilson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
print('** Versiones Actuales | Requeridas **')
print('NumPy: Version Actual:', np.__version__)
print('Pandas: Version Actual:', pd.__version__)

** Versiones Actuales | Requeridas **
NumPy: Version Actual: 1.21.6
Pandas: Version Actual: 1.3.5

In [ ]:
# Usamos el constructor pd.Series
items = pd.Series(data = np.array([2, 3, 8, 6, 7]) , name = 'precios', index = ['veg1','cer1','frut1','frut2','frut3'])
print(items)

veg1     2
cer1     3
frut1    8
frut2    6
frut3    7
Name: precios, dtype: int64

In [ ]:
print('obtener los índices ',items.index)
print('obtener los valores ',items.values)
print('obtener tipo de dato ',items.dtypes)

obtener los índices  Index(['veg1', 'cer1', 'frut1', 'frut2', 'frut3'], dtype='object')
obtener los valores  [2 3 8 6 7]
obtener tipo de dato  int64

In [2]:
df = pd.read_csv(filepath_or_buffer='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'
                ,sep = ',',
                 decimal = '.')




df.head(100)

   countrycode country  year        rgdpo       pop       emp  avh        hc
0          ABW   Aruba  1950          NaN       NaN       NaN  NaN       NaN
1          ABW   Aruba  1951          NaN       NaN       NaN  NaN       NaN
2          ABW   Aruba  1952          NaN       NaN       NaN  NaN       NaN
3          ABW   Aruba  1953          NaN       NaN       NaN  NaN       NaN
4          ABW   Aruba  1954          NaN       NaN       NaN  NaN       NaN
..         ...     ...   ...          ...       ...       ...  ...       ...
95         AGO  Angola  1977  27101.01953  8.130988  4.111429  NaN  1.033385
96         AGO  Angola  1978  24654.34766  8.376147  4.209530  NaN  1.035939
97         AGO  Angola  1979  24989.89453  8.641521  4.290003  NaN  1.038498
98         AGO  Angola  1980  25335.56836  8.929900  4.300710  NaN  1.041064
99         AGO  Angola  1981  25177.26172  9.244507  4.429433  NaN  1.050381

[100 rows x 8 columns]

In [ ]:
df.shape

(12376, 8)

In [ ]:
print(type(df))
df.dtypes

<class 'pandas.core.frame.DataFrame'>

countrycode     object
country         object
year             int64
rgdpo          float64
pop            float64
emp            float64
avh            float64
hc             float64
dtype: object

In [ ]:
df['pop']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
12371    15.054506
12372    15.411675
12373    15.777451
12374    16.150362
12375    16.529903
Name: pop, Length: 12376, dtype: float64

In [3]:
df['rgdpo'] = df['rgdpo'].fillna(0)
df['emp'] = df['emp'].fillna(0)
df['avh'] = df['avh'].fillna(0)
df['hc'] = df['hc'].fillna(0)

In [4]:
df['rgdpo'] = df['rgdpo'].astype(int)
df['rgdpo'] = df['rgdpo'].astype(int)
df['emp'] = df['emp'].astype(int)
df['avh'] = df['avh'].astype(int)
df['hc'] = df['hc'].astype(int)

In [6]:
df['pop'] = df['pop'].fillna(0)
df['pop'] = df['pop'].astype(int)

In [7]:
df

      countrycode   country  year  rgdpo  pop  emp  avh  hc
0             ABW     Aruba  1950      0    0    0    0   0
1             ABW     Aruba  1951      0    0    0    0   0
2             ABW     Aruba  1952      0    0    0    0   0
3             ABW     Aruba  1953      0    0    0    0   0
4             ABW     Aruba  1954      0    0    0    0   0
...           ...       ...   ...    ...  ...  ...  ...  ..
12371         ZWE  Zimbabwe  2013  28329   15    7    0   2
12372         ZWE  Zimbabwe  2014  29355   15    8    0   2
12373         ZWE  Zimbabwe  2015  29150   15    8    0   2
12374         ZWE  Zimbabwe  2016  29420   16    8    0   2
12375         ZWE  Zimbabwe  2017  30940   16    9    0   2

[12376 rows x 8 columns]