<a href="https://colab.research.google.com/github/wassanchez/DS_Wilson/blob/main/Clase9Septiembre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd
import numpy as np

In [ ]:
ruta = '/content/drive/MyDrive/Colab Notebooks/datasets/clase19septiembre.csv'

In [ ]:
dataFrame_1 = pd.read_csv(ruta)
dataFrame_1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
dataFrame_1.keys()

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
dataFrame_1['Fjob']

0       teacher
1         other
2         other
3      services
4         other
         ...
390    services
391    services
392       other
393       other
394     at_home
Name: Fjob, Length: 395, dtype: object

In [ ]:
dataFrame_1[['school', 'sex', 'age', 'address']]

    school sex  age address
0       GP   F   18       U
1       GP   F   17       U
2       GP   F   15       U
3       GP   F   15       U
4       GP   F   16       U
..     ...  ..  ...     ...
390     MS   M   20       U
391     MS   M   17       U
392     MS   M   21       R
393     MS   M   18       R
394     MS   M   19       U

[395 rows x 4 columns]

In [ ]:
data_1 = np.array(dataFrame_1[['school', 'sex', 'age', 'address']])[:10]
data_1

array([['GP', 'F', 18, 'U'],
       ['GP', 'F', 17, 'U'],
       ['GP', 'F', 15, 'U'],
       ['GP', 'F', 15, 'U'],
       ['GP', 'F', 16, 'U'],
       ['GP', 'M', 16, 'U'],
       ['GP', 'M', 16, 'U'],
       ['GP', 'F', 17, 'U'],
       ['GP', 'M', 15, 'U'],
       ['GP', 'M', 15, 'U']], dtype=object)

# Creando Clases

In [11]:
import random 
class niño:    # Objeto "niño"
  def __init__(self, nombre, sexo, papa, mama):
    self.nombre = nombre
    self.sexo = sexo
    self.papa = papa
    self.mama = mama
    self.id = self.id()

  def id(self):
    num = 0
    while len(str(num))<2:
      num = int(random.random()*100)
      # print(num)
    return num
 
  def Actualizar_id(self):
    self.id = self.id()

In [12]:
class Pais:
  def __init__(self,Nombre, ID_Pais):
    self.Nombre = Nombre
    self.ID_Pais = ID_Pais
    self.Todos_Ninos = []
    
  def Obtener_Nombre(self):
    self.Nombre 

  
  def verificar_ID(self, nino1): 
    for i in Col.ID_Pais:
      if nino1.id == i:
        nino_ID_nuevo = nino1.Actualizar_id()
      else:
        nino_ID_nuevo = nino1.id
    Todos_Ninos.append(nino_ID_nuevo)

In [ ]:
persona_1 = niño('Juan', 'M', 'Pedro', 'Ana')
a = persona_1.id

In [ ]:
print(a)

71

In [ ]:
print(type(persona_1))

<class '__main__.niño'>

In [3]:
Col = Pais('Colombia', [12, 34, 56, 78, 91])

In [6]:
nino1 = niño('Juan', 'M', 'Pedro', 'Rosa')

In [7]:
nino1.id

18

In [9]:
len(Col.ID_Pais)

5

In [ ]:
Todos_Ninos = []
for i in Col.ID_Pais:
  if nino1.id == i:
    nino_ID_nuevo = nino1.Actualizar_id()
  else:
    nino_ID_nuevo = nino1.id
Todos_Ninos.append(nino_ID_nuevo)