<a href="https://colab.research.google.com/github/wassanchez/DS_Wilson/blob/main/Copia_de_cuarta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Proceso de transformación de variables

In [ ]:
print('** Versiones Actuales | Requeridas **')
print('NumPy: Version Actual:', np.__version__)
print('Pandas: Version Actual:', pd.__version__)

** Versiones Actuales | Requeridas **
NumPy: Version Actual: 1.21.6
Pandas: Version Actual: 1.3.5

In [ ]:
# Usamos el constructor pd.Series
items = pd.Series(data = np.array([2, 3, 8, 6, 7]) , name = 'precios', index = ['veg1','cer1','frut1','frut2','frut3'])
print(items)

veg1     2
cer1     3
frut1    8
frut2    6
frut3    7
Name: precios, dtype: int64

In [ ]:
print('obtener los índices ',items.index)
print('obtener los valores ',items.values)
print('obtener tipo de dato ',items.dtypes)

obtener los índices  Index(['veg1', 'cer1', 'frut1', 'frut2', 'frut3'], dtype='object')
obtener los valores  [2 3 8 6 7]
obtener tipo de dato  int64

In [ ]:
df = pd.read_csv(filepath_or_buffer='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'
                ,sep = ',',
                 decimal = '.')
df_p = df
df.head(100)

   countrycode country  year        rgdpo       pop       emp  avh        hc
0          ABW   Aruba  1950          NaN       NaN       NaN  NaN       NaN
1          ABW   Aruba  1951          NaN       NaN       NaN  NaN       NaN
2          ABW   Aruba  1952          NaN       NaN       NaN  NaN       NaN
3          ABW   Aruba  1953          NaN       NaN       NaN  NaN       NaN
4          ABW   Aruba  1954          NaN       NaN       NaN  NaN       NaN
..         ...     ...   ...          ...       ...       ...  ...       ...
95         AGO  Angola  1977  27101.01953  8.130988  4.111429  NaN  1.033385
96         AGO  Angola  1978  24654.34766  8.376147  4.209530  NaN  1.035939
97         AGO  Angola  1979  24989.89453  8.641521  4.290003  NaN  1.038498
98         AGO  Angola  1980  25335.56836  8.929900  4.300710  NaN  1.041064
99         AGO  Angola  1981  25177.26172  9.244507  4.429433  NaN  1.050381

[100 rows x 8 columns]

In [ ]:
df.shape

(12376, 8)

In [ ]:
print(type(df))
df.dtypes

<class 'pandas.core.frame.DataFrame'>

countrycode     object
country         object
year             int64
rgdpo          float64
pop            float64
emp            float64
avh            float64
hc             float64
dtype: object

In [ ]:
df['pop']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
12371    15.054506
12372    15.411675
12373    15.777451
12374    16.150362
12375    16.529903
Name: pop, Length: 12376, dtype: float64

In [ ]:
df['pop'] = df['pop'].fillna(0)

In [ ]:
df['pop'] = df['pop'].astype(int)

In [ ]:
df_p.keys()

Index(['countrycode', 'country', 'year', 'rgdpo', 'pop', 'emp', 'avh', 'hc'], dtype='object')

In [ ]:
df_p1 = df_p[['pop', 'emp', 'avh']]
df_p1 = df_p1.fillna(0)
df_p1.head(10)

   pop  emp  avh
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
5  0.0  0.0  0.0
6  0.0  0.0  0.0
7  0.0  0.0  0.0
8  0.0  0.0  0.0
9  0.0  0.0  0.0

In [ ]:
df_p1.describe()

                pop           emp           avh
count  12376.000000  12376.000000  12376.000000
mean      24.798529     10.572256    540.753806
std      103.621265     50.402501    894.901198
min        0.000000      0.000000      0.000000
25%        0.130296      0.000000      0.000000
50%        3.722991      1.297032      0.000000
75%       13.990309      4.938672   1605.550537
max     1409.517456    792.575317   2910.734863

In [ ]:
df_p.keys()

Index(['countrycode', 'country', 'year', 'rgdpo', 'pop', 'emp', 'avh', 'hc'], dtype='object')

In [ ]:
#2013-08-04 5:5:125  format = '%Y-%m-%d %H:%M:%S'
#04/08/2013 5:5:125  format = '%d/%m/%Y %H:%M:%S'
#04 de 08 del año 2013 5:5:125  format = '%d/%m/%Y %H:%M:%S'
df_p_t = df_p['year']
#1950
df_p_t['year'] = pd.to_datetime(df_p['year'], format = '%Y')
df_p_t['year'].head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0    1950-01-01
1    1951-01-01
2    1952-01-01
3    1953-01-01
4    1954-01-01
5    1955-01-01
6    1956-01-01
7    1957-01-01
8    1958-01-01
9    1959-01-01
10   1960-01-01
11   1961-01-01
12   1962-01-01
13   1963-01-01
14   1964-01-01
15   1965-01-01
16   1966-01-01
17   1967-01-01
18   1968-01-01
19   1969-01-01
Name: year, dtype: datetime64[ns]

In [ ]:
df_p['pop'] = df_p1['pop']
df_p['emp'] = df_p1['emp'] 
df_p['avh'] = df_p1['avh']
df_p['year'] = df_p_t['year']

In [ ]:
df_p.dtypes

countrycode            object
country                object
year           datetime64[ns]
rgdpo                 float64
pop                   float64
emp                   float64
avh                   float64
hc                    float64
dtype: object

In [ ]:
df_p['countrycode'] = df_p['countrycode'].astype(str)
df_p['country'] = df_p['country'].astype(str)
df_p.dtypes

countrycode            object
country                object
year           datetime64[ns]
rgdpo                 float64
pop                   float64
emp                   float64
avh                   float64
hc                    float64
dtype: object

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datasets/netflix_titles.csv')
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [16]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [40]:
data['date_added']=data['date_added'].str.replace('September','9')
data['date_added']=data['date_added'].str.replace('December','12')
data['date_added']=data['date_added'].str.replace('November','11')
data['date_added']=data['date_added'].str.replace('July','7')
data['date_added']=data['date_added'].str.replace('June','6')
data['date_added']=data['date_added'].str.replace('March','3')
data['date_added']=data['date_added'].str.replace('January','1')
data['date_added']=data['date_added'].str.replace('April','4')
data['date_added']=data['date_added'].str.replace('February','2')
data['date_added']=data['date_added'].str.replace('October','10')
data['date_added']=data['date_added'].str.replace('May','5')
data['date_added']=data['date_added'].str.replace('August','8')

In [41]:
data['date_added']

0        9 25, 2021
1        9 24, 2021
2        9 24, 2021
3        9 24, 2021
4        9 24, 2021
           ...
8802    11 20, 2019
8803      7 1, 2019
8804     11 1, 2019
8805     1 11, 2020
8806      3 2, 2019
Name: date_added, Length: 8807, dtype: object

In [44]:
#format = '%Y-%m-%d
data['date_added'] = data['date_added'].str.strip()
data['date_added'] = pd.to_datetime(data['date_added'], format = '%m %d, %Y')

In [45]:
data['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]